---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: destroyed-symlinks
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/JoC0de/pre-commit-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
