---
- name: Download AmneziaWG
  tags: [download, packer]
  ansible.builtin.include_tasks:
    file: download.yml
    apply:
      tags: [download, packer]
      become: false
      run_once: true
      delegate_to: localhost

- name: Install AmneziaWG
  tags: [install, packer]
  ansible.builtin.include_tasks:
    file: install.yml
    apply:
      tags: [install, packer]

- name: Configure AmneziaWG
  tags: config
  ansible.builtin.include_tasks:
    file: config.yml
    apply:
      tags: config

- name: Flush handlers
  tags: always
  run_once: true
  ansible.builtin.meta: flush_handlers
